// Variables

// Colors
$color-primary: #0066cc;

$color-gray-dark: #333333;
$color-gray: #888888;
$color-gray-light: #fafafa;

$color-black: #000000;
$color-white: #ffffff;

// Sizes

$size-layout-max-columns: 12;
$size-layout-spacing: 16px;

// Layout Breakpoints [px)
$size-breakpoint-md: 768px;
$size-breakpoint-lg: 992px;
